* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
h1,
h2,
h3 {
	text-transform: uppercase;
}
hr {
	width: 90%;
}
p {
	font-size: 18px;
}
a {
	text-decoration: none;
	color: rgb(143, 67, 13);
}
.container__style {
	width: 100%;
	background-color: beige;
}
.navigation {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: space-around;
}
.navigation__item {
	font-size: 24px;
}
.container-main {
	display: flex;
	flex-wrap: wrap;
	width: 1220px;
	margin: 0 auto;
}
.profile {
	display: flex;
	/*justify-content: center;*/
	width: 100%;
	height: 270px;
	background-color: beige;
}
.profile-image {
	background-image: url("../assets/icon.png");
	width: 30%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}
.profile-text {
	width: 70%;

	font-size: 1.3em;
	text-align: justify;
	line-height: 1.5em;
	padding: 20px;
}
/* Personal information */

.personal-info {
	display: flex;
	width: 100%;
	height: 80vh;
	flex-direction: column;
	flex-wrap: wrap;
}
.contacts-info {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	padding-left: 20px;
	background-color: rgb(249, 226, 226);
}
.education-info {
	width: 50%;
	height: 50%;
}
.contact-info {
	width: 50%;
	height: 50%;
}
.professional-info {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	background-color: rgb(238, 216, 188);
}
.coding-info {
	display: flex;
	width: 100%;
}
.coding-example {
	width: 70%;
	height: 100vh;

	padding: 20px;
}
.coding-projets {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 30%;
	height: 100%;
	background-color: rgb(233, 200, 205);
}
.page-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1220px;
	height: 70px;
	margin: 0 auto;
}
